body {
    margin: 0px;
    padding: 0px;
    background-color: #121315;
}

.navbar{
    background-image: linear-gradient(to bottom,#1e1f21, #1f2022);
    padding-top: 10px;
    border-radius: 10px;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.navbar a {
    text-decoration: none;
    font-family: sans-serif;
    color: #d5d5d6;
    transition: 0.3 ease;
    transition-duration: 0.3s;
}

.navbar a:hover {
    font-size: 18px;
}

.profile_img {
 border-radius: 50%;  
 width: 50px;
 height: 50px;
 transition-property: transform 0.3 ease, ;
 transition-duration: 0.3s;
}

.profile_img:hover {
    width: 60px;
    height:60px;
}

.hero_header{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.hero_header h1{
    color: #d5d5d6;
    font-size: 18px;
    font-family: sans-serif;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: linear-gradient(to bottom,#1e1f21, #1f2022);
    margin-top: 20px;
}